.navigation{
    position: absolute;
    top: 1rem;
    right: 10rem;

    &__main-nav{
        float: right;
        list-style: none;
        margin-top: 4rem;
        

        & li{
            display: inline-block;
            margin-left: 4rem;

            & a:link,
            & a:visited{
                padding: 1rem 0;
                color: $color-white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: $default-font-size;
                border-bottom: 2px solid transparent;
                transition: border-bottom .3s;

            }

            & a:hover,
            & a:active{
                border-bottom: 2px solid rgba($color-white, .8);
            }
        }
    }
}