.navigation{
    position: absolute;
    top: 3rem;
    height: 5rem;
    background-image: linear-gradient(
        to left, 
        rgba($color-primary, .5),
        transparent);
    
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    width: 100%;
    z-index: 100;  

    @include respond(tab-port){
        background-image: none;
        box-shadow: none;
    }

    &__logo-box{
        position: absolute;
        width: auto;
        height: 5rem;
        top: 0;
        left: 4rem;
    }

    &__logo{
        height: 5rem;   
    }

    &__main-nav{
        float: right;
        list-style: none;
        margin-right: 3rem;
        margin-top: 1.2rem;

        @include respond(tab-port){
            display: none;
            float: left;
            margin-top: 5rem;
            margin-left: 1rem;   
            background-image: linear-gradient(
                to left, 
                rgba($color-primary, .8),
                transparent);
        }

        & li{
            display: inline-block;
            margin-left: 4rem;
            
            @include respond(tab-port){
                display: block;
            }

            & a:link,
            & a:visited{
                padding: 1.3rem 0;
                color: $color-white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: $default-font-size;
                border-bottom: 2px solid transparent;
                transition: border-bottom .3s;

                @include respond(tab-port){
                    display: block;
                    border: 0;
                    padding: 1rem;
                    padding-left: 1rem;
                    font-size: $default-font-size;                }
                }

            & a:hover,
            & a:active{
                border-bottom: 2px solid rgba($color-white, .8);
            }
        }
    }
    
}

// === Mobile Nav ===
.mobile-nav-icon{
    float: right;
    margin-right: 3rem;
    cursor: pointer;
    display: none;
    font-size: 3.5rem;

    @include respond(tab-port){
        display: inline-block;
    }
}



.sticky{
    position: fixed;
    width: 96%;  

    @include respond(big-desktop){
        width: 96.2%;
    }

    @include respond(tab-land){
        width: 100%;
        box-shadow: none;
    }

    
}

