/* Color Theme Swatches in Hex */
$Blurred-white-abstract-glass-wall-from-modern-building-1-hex: #F0F0F2;
$Blurred-white-abstract-glass-wall-from-modern-building-2-hex: #A9B9D9;
$Blurred-white-abstract-glass-wall-from-modern-building-3-hex: #7B95A6;
$Blurred-white-abstract-glass-wall-from-modern-building-4-hex: #9FB6BF;
$Blurred-white-abstract-glass-wall-from-modern-building-5-hex: #C1D4D9;

/* Color Theme Swatches in Hex */
$Light-blue-color-frosted-Glass-texture-background-1-hex: #97A2A6;
$Light-blue-color-frosted-Glass-texture-background-2-hex: #475659;
$Light-blue-color-frosted-Glass-texture-background-3-hex: #BAD3D9;
$Light-blue-color-frosted-Glass-texture-background-4-hex: #A4BABF;
$Light-blue-color-frosted-Glass-texture-background-5-hex: #DCF0F2;

/* Color Theme Swatches in Hex */
$texture-of-a-drop-of-rain-on-a-glass-wet-transparent-background-1-hex: #384D59;
$texture-of-a-drop-of-rain-on-a-glass-wet-transparent-background-2-hex: #8198A6;
$texture-of-a-drop-of-rain-on-a-glass-wet-transparent-background-3-hex: #A3B4BF;
$texture-of-a-drop-of-rain-on-a-glass-wet-transparent-background-4-hex: #C5D1D9;
$texture-of-a-drop-of-rain-on-a-glass-wet-transparent-background-5-hex: #F0F2F2;
/*
COLORS:
Light green: #C1D4D9
Medium green: #9FB6BF
Dark green: #7B95A6
*/

//COLOURS
$color-primary: #A3B4BF;
$color-primary-light: #C5D1D9;
$color-primary-dark: #8198A6;

$color-secondary-light: #BFAA8F;
$color-secondary-dark: #8C7158; 

$color-tertiary-light: #D9CC8B;
$color-tertiary-dark: #5D8C3B; 

$color-pastel-green: #BDD9B1; 
$color-pastel-pale: #F3E6D3;

$color-grey-light-1: #F0F0F2;
$color-grey-light-2: #EEE;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-green: #55c57a;
$color-red: #ff7730;

$color-white: #FFF;
$color-black: #000;

$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-google: #dd4b39;
$color-instagram:#e95950 ;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


$border-radius: 3px;
