/* Color Theme Swatches in Hex */
$Blurred-white-abstract-glass-wall-from-modern-building-1-hex: #F0F0F2;
$Blurred-white-abstract-glass-wall-from-modern-building-2-hex: #A9B9D9;
$Blurred-white-abstract-glass-wall-from-modern-building-3-hex: #7B95A6;
$Blurred-white-abstract-glass-wall-from-modern-building-4-hex: #9FB6BF;
$Blurred-white-abstract-glass-wall-from-modern-building-5-hex: #C1D4D9;

/* Color Theme Swatches in RGBA */
$Blurred-white-abstract-glass-wall-from-modern-building-1-rgba: rgba(240,240,242, 1);
$Blurred-white-abstract-glass-wall-from-modern-building-2-rgba: rgba(169,185,217, 1);
$Blurred-white-abstract-glass-wall-from-modern-building-3-rgba: rgba(123,149,166, 1);
$Blurred-white-abstract-glass-wall-from-modern-building-4-rgba: rgba(159,182,191, 1);
$Blurred-white-abstract-glass-wall-from-modern-building-5-rgba: rgba(193,212,217, 1);

/* Color Theme Swatches in HSLA */
$Blurred-white-abstract-glass-wall-from-modern-building-1-hsla: hsla(240, 7, 94, 1);
$Blurred-white-abstract-glass-wall-from-modern-building-2-hsla: hsla(219, 38, 75, 1);
$Blurred-white-abstract-glass-wall-from-modern-building-3-hsla: hsla(203, 19, 56, 1);
$Blurred-white-abstract-glass-wall-from-modern-building-4-hsla: hsla(196, 20, 68, 1);
$Blurred-white-abstract-glass-wall-from-modern-building-5-hsla: hsla(192, 24, 80, 1);

/*
COLORS:
Light green: #C1D4D9
Medium green: #9FB6BF
Dark green: #7B95A6
*/

//COLOURS
$color-primary: #9FB6BF;
$color-primary-light: #C1D4D9;
$color-primary-dark: #7B95A6;

$color-secondary-light: #BFAA8F;
$color-secondary-dark: #73563D;

$color-tertiary-light: #D9CC8B;
$color-tertiary-dark: #5D8C3B;

$color-grey-light-1: #F0F0F2;
$color-grey-light-2: #EEE;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-green: #55c57a;
$color-red: #ff7730;

$color-white: #FFF;
$color-black: #000;

$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-google: #dd4b39;
$color-instagram:#e95950 ;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


$border-radius: 3px;
