.card{

    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 69rem;

    &__side{
        height: 69rem;
        transition: all .3s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: -1rem 1.5rem 4rem rgba($color-black, .15);
        color: $color-white;


        &--front{
            background-image: linear-gradient(
                                to right top, 
                                rgba($color-grey-dark, .4),
                                rgba($color-grey-light-1, .4));
        }
    
        &--back{
            transform: rotateY(180deg);

            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__picture{
        //slideshow of pictures
    }

    
    
    &:hover &__side--front{
        transform: translate(1rem, -1rem);
        box-shadow: -1.5rem 2.5rem 4rem rgba($color-black, .25);
        /*transform: rotateY(-180deg);*/
    }

    /*
    &:hover &__side--back{
        transform: rotateY(0);
    }
    */
    

    //FRONT SIDE STYLING
    &__picture{
        background-size: cover;
        /*background-repeat: no-repeat;*/
        background-blend-mode: screen;
        height: 36rem;
        margin: 2rem;
        border-radius: 5px;
        /*
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0% 100%);
        */

        &--1{
            background-image:  url(../img/nat-5.jpg);
        }
        &--2{
            background-image: url(../img/nat-6.jpg);
        }
    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: left;
        color: $color-white;
        position: absolute;
        top: 28rem;
        left: 2rem;
        backface-visibility: hidden;

        
    }

    &__heading-span{
        padding: 1rem 1.5rem;
        box-decoration-break: clone;

        &--1{
            background-image: linear-gradient(
                                to right bottom, 
                                rgba($color-secondary-light,.85), 
                                rgba($color-secondary-dark,.85));
        }

        &--2{
            background-image: linear-gradient(
                                to right bottom, 
                                rgba($color-tertiary-light,.85), 
                                rgba($color-tertiary-dark,.85));
        }
    }

    &__details{
        padding: 3rem;

        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                text-decoration: none;

                
                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }

        &__icon{
            font-size: 1.5rem;
            color: $color-grey-dark;
        }
    }

    //FRONT SIDE STYLING
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
    
    &__price-box{
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }

}