.feature-box{
    background-image: linear-gradient(
        to right top, 
        rgba($color-primary, .5),
        transparent);
    /*background-color: rgba($color-white, .6);*/
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: -1rem 1.5rem 4rem rgba($color-black, .15);
    color: $color-white;
    transition: all .3s;

    
    &__icon{
        height: 10rem;
        width: auto;
        padding-bottom: 1rem;
    }

    &:hover{
        transform: translate(1rem, -1rem);
        box-shadow: -1.5rem 2.5rem 4rem rgba($color-black, .2);
    }

    /*===All children selector===
     (> = direct child, * = all) */
    & > * {
        
    }
    
}