.steps-box{
    
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    color: $color-grey-dark;
    transition: all .3s;

    
    &__icon{
        height: 20rem;
        width: auto;
        padding-bottom: 1rem;
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);

        
    }

    &:hover{
        transform: translateY(-1rem);
        box-shadow: -1.5rem 2.5rem 4rem rgba($color-black, .2);
    }

    & div{
        border: 2px solid $color-grey-dark;
        display: inline-block;
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
        text-align: center;
        padding: 1rem;
        font-size: 150%;
        margin-bottom: 2rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
}