body{
    font-family: "Lato";
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-white;
}

.heading-primary
{
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 6rem;  
    
    @include respond(tab-port){
        margin-bottom: 4rem;
    }

    &--main{
        font-family: 'Poiret One', cursive;

        display: block;
        font-size: 8rem;
        font-weight: 400;
        letter-spacing: 3rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        transition: .2s;

        &--home{
            @include respond(big-desktop){
                font-size: 10rem;
            }

            @include respond(tab-port){
                font-size: 5rem;
            }

            @include respond(phone){
                font-size: 4rem;
                letter-spacing: 2rem;
            }

            @include respond(small-phone){
                font-size: 3.5rem;
                letter-spacing: 1rem;
            }
            
        }

        &--products{
            letter-spacing: .5rem;
            color: $color-grey-dark;

            @include respond(big-desktop){
                font-size: 10rem;
            }

            @include respond(tab-port){
                letter-spacing: .25rem;
                font-size: 6rem;
            }

            @include respond(phone){
                font-size: 5rem;
            }

            @include respond(small-phone){
                font-size: 4.5rem;
            }
            
        }

        &--learn{
            @include respond(tab-port){
                letter-spacing: 1rem;
                font-size: 6rem;
            }

            @include respond(small-phone){
                font-size: 4.5rem;
            }
        }
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 1rem;
        text-transform: uppercase;
        animation: moveInRight 1s ease-out;

        &--home{
            @include respond(big-desktop){
                font-size: 3rem;
            }

            @include respond(phone){
                font-size: 1.5rem;
                letter-spacing: .5rem;
            }

            @include respond(small-phone){
                font-size: 1rem;
            }
        }

        &--products{
            color: $color-grey-dark;

            @include respond(big-desktop){
                font-size: 4rem;
            }

            @include respond (tab-port){
                font-size: 1.5rem;
                letter-spacing: .5rem;
            }

            @include respond (small-phone){
                font-size: 1rem;
            }
        }

        &--learn{
            @include respond(tab-port){
                font-size: 1.75rem;
                letter-spacing: .75rem;
            }

            @include respond(small-phone){
                font-size: 1.5rem;
            }
        }
    }
}

.heading-secondary{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    color: $color-white; 
    letter-spacing: .2rem;
    transition: all .3s;   

    &:hover{
        transform: translateX(.3rem) translateY(-.3rem);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
    }

    
    &--learn,
    &--products,
    &--about{
        color: $color-grey-dark;       
    }
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;

    &--learn{
        color: $color-grey-dark;
    }

}

.paragraph{
    font-size: $default-font-size;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}