.u-center-text{text-align: center !important;}

.u-margin-bottom-big{
    margin-bottom: 8rem !important;
}

.u-margin-bottom-medium{
    margin-bottom: 4rem !important;
} 

.u-margin-bottom-small{
    margin-bottom: 1.5rem !important;
}   

.u-margin-top-medium{
    margin-top: 4rem !important;
} 

.u-margin-top-big{
    margin-top: 8rem !important;
} 

.u-margin-top-huge{
    margin-top: 10rem !important;
} 

.u-center-top{
    /** Top padding so that initially, the content is below the header **/
    //padding-top: 1rem !important;
    text-align: center !important;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.u-header-box{
    position: relative;
}