.section-about{
    
    background-image: linear-gradient(to right, 
            rgba($color-grey-dark,.8), 
            rgba($color-grey-dark,.6)), 
            url(../img/about/about-mobile.jpg);
    /*
    background-color: $color-grey-dark;
    */
    background-size: cover;
    padding: 10rem 0;
    font-size: 1.6rem;
    color: $color-white;
    display: none;

    @include respond(tab-port){
        display: block;
    }
}