.section-products--home{
    background-image: linear-gradient(
        rgba($color-black,.5),
        rgba($color-black,.5)),
        url(../img/home/products.jpg);
        
    background-size: cover;
    background-position: center;
    padding: 15rem 0;
}



.section-stories{
    padding: 15rem 0;
    background-image: linear-gradient(
        to right, 
        rgba($color-black, .5),
        rgba($color-black, .5)) , 
        url(../img/home/reviews.jpg);
    background-size: cover;
    position: relative;
    /*
    clip-path: polygon(75% 0%, 100% 20%, 100% 100%, 0% 100%, 0% 0%);
    */
}

.section-preview{
    padding: 5rem 0;
    background-image: linear-gradient(
        to right top, 
        rgba($color-grey-dark, 1),
        rgba($color-white, .6));
    background-size: cover;
    position: relative;
    /*
    clip-path: polygon(75% 0%, 100% 20%, 100% 100%, 0% 100%, 0% 0%);
    */
}

.section-book--home{
    padding: 15rem 0;
    background-image: linear-gradient(
        to bottom, 
        rgba($color-grey-dark, .8),
        rgba($color-grey-dark, .4));
}



