.section-did-you-know{
    padding: 10rem 0;
    background-image: linear-gradient(
        to bottom,
        rgba($color-pastel-green,.8),
        rgba($color-pastel-pale,1));
    background-size: cover;
}

.section-benefits--mocha{
    padding: 10rem 0;
    background-color: $color-pastel-pale;
    position: relative;
}

.section-benefits--matcha{
    padding: 10rem 0;
    background-image: linear-gradient(
        to bottom,
        rgba($color-pastel-pale,1) .1%,
        rgba($color-pastel-green,1));
    position: relative;
}

.section-book--learn{
    padding: 15rem 0;
    background-image: linear-gradient(
        to bottom, 
        rgba($color-pastel-green,1) 10%,
        rgba($color-secondary-light,.8));
}

.book{
    background-image: linear-gradient(105deg,
        rgba($color-grey-dark,.8) 0%,
        rgba($color-grey-dark,.8) 50%,
        transparent 50%),
        url(../img/form.jpg);
    background-size: cover;
    border-radius: $border-radius;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.2);

    &__form{
        width: 50%;
        padding: 6rem;
    }
}