.section-did-you-know{
    padding: 10rem 0;
    background-image: linear-gradient(
        to bottom,
        rgba($color-pastel-green,.8),
        rgba($color-pastel-pale,1));
    background-size: cover;
    position: relative;
}

.section-benefits--mocha{
    padding: 10rem 0;
    background-color: $color-pastel-pale;
    position: relative;
}

.section-benefits--matcha{
    padding: 10rem 0;
    background-image: linear-gradient(
        to bottom,
        rgba($color-pastel-pale,1) .1%,
        rgba($color-pastel-green,1));
    position: relative;
}

.section-book--learn{
    padding: 15rem 0;
    background-image: linear-gradient(
        to bottom, 
        rgba($color-pastel-green,1) 10%,
        rgba($color-secondary-light,.8));
}

