.section-features__mocha{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right top, 
        rgba($color-secondary-dark, .6),
        rgba($color-secondary-light, .6)) , 
        url(../img/bg/mocha.jpg);
    background-size: cover;
    
/*
    clip-path: polygon(80% 0%, 100% 25%, 100% 100%, 25% 100%, 0% 75%, 0% 0%);
*/
}

.section-features__matcha{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right top, 
        rgba($color-tertiary-dark, .8),
        rgba($color-tertiary-light, .8)) , 
        url(../img/bg/matcha.jpg);
    background-size: cover;
    background-position: center;
/*
    clip-path: polygon(25% 0%, 100% 0%, 100% 75%, 75% 100%, 0% 100%, 0% 25%);
*/
}