.section-products--products{
    background-image: linear-gradient(
        rgba($color-pastel-pale,.8),
        rgba($color-pastel-green,.8));
    padding: 15rem 0;
}

.section-steps{
    padding: 10rem 0;
    background-image: linear-gradient(
        to bottom,
        rgba($color-pastel-green,.8),
        rgba($color-secondary-dark,.8)
        );
    background-size: cover;
    
    
/*
    clip-path: polygon(80% 0%, 100% 25%, 100% 100%, 25% 100%, 0% 75%, 0% 0%);
*/
}

.section-features__mocha{
    padding: 20rem 0;
    background-image: linear-gradient(
        to bottom,
        rgba($color-secondary-dark,.8) 60%,
        rgba($color-secondary-light,.8));
    position: relative;
      
    /*
    &--ingredients{
        width: 65%;
        position: absolute;
        right: 5%;
        top: 45%;         
    }
    */
}

.section-features__matcha{
    padding: 20rem 0;
    background-image: linear-gradient(
        to bottom, 
        rgba($color-secondary-light,.8) 10%,
        rgba($color-pastel-green,1));
    background-size: cover;
    background-position: center;
    position: relative;

    /*
    &--ingredients{
        width: 65%;
        position: absolute;
        left: 2%;
        top: 50%;
        z-index: 100;  
    }
    */
}

.section-book--products{
    padding: 15rem 0;
    background-image: linear-gradient(
        to bottom, 
        rgba($color-pastel-green,1) 10%,
        rgba($color-secondary-light,.8));
}

